{% load static %}
<!DOCTYPE html>
<html lang="it" >
{%include 'head-video.html'%}
<body >
<div class="mymdb-masthead">
  <div class="container">
    <nav class="nav">
      <div class="navbar-brand">VadoAlCinemaGratis</div>
      <a
        class="nav-link"
        href="{% url 'homepage' %}"
      >
        Films
      </a>
      {% if request.user.is_authenticated %}
        <a
            class="nav-link"
            href="{% url 'user:logout' %}"
        >
          Log out
        </a>
      {% else %}
        <a
            class="nav-link"
            href="{% url 'user:login' %}"
        >
          Log in
        </a>
        <a
            class="nav-link"
            href="{% url 'user:register' %}"
        >
          Register
        </a>

      {% endif %}
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 mymdb-main">
     {% block main %}{% endblock %}
    </div>
    <div class="col-sm-3 offset-sm-1 mymdb-sidebar">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
</div>

</body >
</html >
