{% load static %}
<!DOCTYPE html>
<html lang="it" >

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="author" content="silverania">
  <meta name="keywords" content="registrazione , login">
  <meta name="description" content="registrazione e login sul sito">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
  <link rel="stylesheet" href="{% static "css/all.css" %}">
  <link rel="stylesheet" href="{% static "css/register.css" %}">
  <link rel="stylesheet" href="{% static "css/login.css"%}">
  <script src="{% static "js/all.min.js"%}"></script>
    <script src="{% static "js/sendAsyncAuthData.js"%}"></script>
  <script  src="{% static 'js/aside.js' %}"></script>


</head>


  <!--script  src="{% static 'js/blog.js'%}"></script-->
  <script  src="{% static "js/popper.min.js"%}"></script>
  <script  src="{% static 'js/jquery.min.js' %}"></script>
  <script  src="{% static 'js/bootstrap.min.js' %}"></script>

<body>
<div id="content">
  {% block content %}
  {% endblock %}
  </div>
  </body>
  </html>
