footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:auto;
  min-height:200px;
  background-color: pink;
}
.iconDetails {
margin-left:3%!important;
float:left!important;
height:47px!important;
width:47px!important;
border-radius: 40px;
opacity:0.6;
}

.container2 {
   width:100%;
   height:auto;
   padding:1%;
}

.d_breakingweb_fonts{
  margin-left:110px!important;
color:grey;
}
.d_info_fonts {
  color:grey;
}

@media screen and (max-width: 480px) {
  .d_info_fonts{
    font-size: .3rem;
  }
  .d_breakingweb_fonts{
      font-size: .5rem;
    margin-left:70px!important;
  }

}

@media screen and (min-width: 480px) {
  .d_info_fonts {
    font-size: .4rem;
  }

  .iconDetails {
  margin-left:3%!important;
  float:left!important;
  }

  .container2 {
     padding:1%;
  }
  .d_breakingweb_fonts{
    margin-left:90px!important;
      font-size: .4rem;
  }
}

@media screen and (min-width: 1200px) {

  .d_info_fonts{
    font-size: .4rem;
  }
  .d_breakingweb_fonts{
      font-size: .8rem;
    margin-left:115px!important;
  }
}
