#col_blog{
  width:0px!important;
}

.post_response{
    margin-top:50px;
}

#s_blog_text{
  color:grey;
  font-size:inherit!important;
}

.fa-comments{
 color:orange;
}

.button_resp{
  width:70%!important;
  margin:20px auto !important;
}

#button_post{
  margin:20px auto;
}

  @media screen and (max-width: 780px) {
  .fa-comments,#s_blog
  {
      size:2rem!important;
    }
  }

@media screen and (max-width: 1024px) {
  .fa-comments,#s_blog{
    font-size:1.5rem;
  }
}

#blog{
  margin:0 auto!important;
}
