#blog{
  width:43%!important;
  max-width:43%!important;
  margin:0 auto!important;
}

div.modal-content {
  width:100%;
  height:auto;
  font-family:'WorkSans','Assistant-regular','WorkSans';
  background-color:#e6ffff;
  font-size:2rem;
  /*box-sizing:content-box;*/
}

a{
  text-decoration:none!important;
  width:auto!important;
}

[id^=span_]:hover{
  color:green;
}

#d_blog_reg{
  float:right;
}

[id^=d_head_blog]{
  margin:0 auto !important;
  margin-top:2%;
}

[id^=bh5_span]{
  font-size:.7rem;
}

[id^=but_]{
  width:100%;
  height:auto;
  border:2px solid orange;
  margin:15px auto;
  padding:2%;

}

[id^="img_user"]{
  width:30px!important;
  height:30px!important;
}

textarea {
  font-size:1rem!important;
  padding:22px;
  color:black;
  width:0;
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #719ECE;
}

button,img{
  outline: none !important;
  border:2px solid orange;
  box-shadow: 0 0 10px #719ECE;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

[id^=new_divuserblog]{
  margin:20% auto;
}

/*[id^=new_divuserblog]> [id^=d_head] + [id^=d_post] + textarea{*/


#d_post_title , span[id^="post_title"]{
  display:block!important;
  width:auto;
  text-align: center;
  margin:20px auto!important;
  font-size:1rem!important;
  color:black!important;
  line-height:1.5em!important;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%!important; /* Could be more or less, depending on screen size */
}

#col_blog{
  width:0px!important;
}
[id^="divuserblog_"]{
  opacity:0.9;
}
#d_blog_reg {
  width:100%;
  margin-bottom:50px!important;
}

ul#ul_blog li{
  display:inline;
}

.post_response{
  margin:50px auto auto 15% !important;

  /*margin:0 auto !important;*/
}

#s_blog_text{
  color:grey;
  font-size:inherit!important;
}

.fa-comments{
  color:orange;
}

.div_resp{
  width:70%!important;
  margin:0 auto !important;
}

#button_post,#clone_button{
  margin:100px auto;
}

[id^="divuserblog_"]{
  margin-top:10%!important;
}

#divuserblog_1{
  margin-top:10%!important;
}

#p_text{
  width:100%;
  height:auto;
  padding:40px;
  margin:0 auto;
  border:3px solid orange;
  border-radius:10px;
  background-color:white;
}


@media screen and (max-width: 780px) {
  .fa-comments,#s_blog
  {
    font-size:2rem!important;
  }
}


@media screen and (max-width: 1024px) {
  .fa-comments,#s_blog{
    font-size:1.5rem;
  }

  #s_blog_icon + #span_blog_entra,#span_entra,#span_reg,#span_esci{
    font-size:0.8rem;
  }
  [id^="divuserblog"]{
    width:auto;
    font-size:1rem;
  }

  [id^="bh5_span"]{
    width:100%;
    height:auto;
    font-size:0.6rem!important;
  }
  .modal-content {
    width: 33%!important; /* Could be more or less, depending on screen size */
  }
}

@media screen and (min-width: 1280px) {

  #p_text{
    width:100%!important;
  }
}

@media screen and (min-width: 414px) {

}

@media screen and (max-width: 780px) {
  #blog{
    width:100%!important;
    max-width:100%!important;
    margin:0 auto!important;
  }
  .modal-content {
    width: 55%!important; /* Could be more or less, depending on screen size */
  }
}

@media screen and (max-width: 414px) {
  .modal-content {
    width: 100%!important; /* Could be more or less, depending on screen size */
  }
}

.blog_title,#blog_title{
  width:auto!important;
  margin-top:5%!important;
  margin-bottom:3%;
}

.mybut{
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color:purple;
  border-color: cyan!important;
}
.mybut:hover{
  border:3px solid orange;
}

button:focus{
  outline: none!important;
}

/* MODAL WINDOW */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*#p_text{
color:orange;
background-color: grey;
font-size:2rem;
}*/

#but_confirm_title:after{
  content:"Ok"
}

#but_confirm_title:hover{
  background-color:black;
  color:orange;
}
/* END */
