{%load staticfiles%}
<!DOCTYPE html>
<html lang="it">
{% block head %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="author" content="silverania">
  <meta name="keywords" content="{%block keywords%}{%endblock keywords%}">
  <meta name="description" content="{%block description%}{%endblock description%}">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
  <link rel="stylesheet" href="{% static "css/all.css" %}">
  <link rel="stylesheet" href="{% static "css/homepage.css" %}">
  <script src="{% static "js/all.min.js"%}"></script>
  <script  src="{% static 'js/popper.min.js'%}"></script>
  <script  src="{% static 'js/jquery.min.js' %}"></script>
  <script  src="{% static 'js/aside.js' %}"></script>
  <script  src="{% static 'js/style.js' %}"></script>
  <script  src="{% static 'js/bootstrap.min.js' %}"></script>
  <script  src="{% static 'js/bootstrap.js' %}"></script>
  <script data-ad-client="ca-pub-1430448184465088" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
{% endblock head %}

<body>
<div class="container-fluid" >
<div class="row">
<div id="col_header" class="col-12"style="margin:0px;width:100%;padding:0px">
{% block header %}
  {% include '_header.html'%}
{% endblock header %}
</div>
</div>
</div>
<div id="c_aside" class="container-fluid"  >
                       <div class="row">
                         <div class="col-3">
         <div id="asidebar">
            <span id="asidebar"><i  class="fas fa-angle-right" aria-hidden="true"></i></span>
         </div>

         <div id="d_tutorial_section">
          <div id="t_left" class="table-responsive">
  <table class="table table-hover table-light table-lg">
     <thead class="thead-dark">
 <tr scope="row">
   <th class="offset-3">Tutorials</th>
 </tr>
     </thead>
<tbody>
  {% if login %}
     {% for t in tutorial_all %}
  <tr>
      <th scope="row">{{t.author}}</th>
      <td id="">{{t.title}}</td>
    </tr>
    {% endfor %}
  {% else %}
    {% for t in categorie %}
      <tr>
          <th id=""scope="row" style="border-bottom:1px solid orange;"></th>
          {% for tut in tutorial_all %}{% ifequal t.category tut.category.title|lower %}<td id="td_{{t.category}}">{{tut.title}}</td>{% endifequal%}{% endfor %}
        </tr>
        {% endfor %}
    {% endif %}
  </tbody>
  </table>
</div>
</div>
          <div  id="d_divaside" class="d_divaside">
            <div id="d_in_divaside" class="list-group"  role="tablist">
                {% for c in categorie %}
            <div id="d_{{c.title}}_menu" class="list-group">
              {% for a in c.tutorials.all %}
                <a id="a_tutorial_{{a.title}}" class="list-group-item list-group-item-action" href={{a.get_absolute_url}}>
                  <span id="s_leftmenu1" >{{a.title}}</span>
              </a>
              {% endfor %}
            </div>
            {% endfor %}
            </div>
         </div>
       </div>

<div  class="col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6 " style="margin-left:0px!important;background-color:white;" >
      <div id="d_title" style="position:relative;width:100%;">
           <div id="d_photo_author" style="position:absolute;top:-10%;">
             <div style="width:60px;">
             <img class="img img-fluid rounded-circle border" src='{% block photo %}{% endblock photo %}'
             width="40px" alt="non posso caricare immaggini">
           </div>
           <div  style="width:60px;"><span class="badge badge-pill badge-warning" id="s_nome_autore">mario</span></div>
         </div>
             {% block tut_title %}{% endblock tut_title %} <h6 id="h_title2"> <span style="background-color:purple;display:inline-block;color:white;opacity:0.5;margin-top:30px;">&nbspDi&nbsp</span>
             <span style="color:orange;font-family:ShareTechMono-Regular">{{tutorial.author}}</span>
          <span style="color:grey;opacity:0.5;"> , </span><span style="color:orange;">{{tutorial.publish}}</span></h6>
       </div>

<div class="d_content">
{% block content %}
  {% endblock content %}
</div>
</div>

<div id="d_amazon_1" class="mt-5 col-md-3 col-lg-3 col-xl-3" >
  <div style="width:100%;height:auto;margin-right:0px!important;">
      <span style="position:relative!important;top:-30px;width:100%!important;"class="badge badge-pill badge-warning">Best Seller</span>
    </div>
  {% block amazon_right %}
      {% endblock %}
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  {% block footer %}
  <footer>
    <div class="jumbotron pt-1" style= "margin-top:120px;background-color:#2f3136;">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            </div>
            </div>
            </div>
    </div>
  </footer>
  {% endblock footer %}
</div>
</div>
</div>
</body>
</html>
