{%load staticfiles%}
<!DOCTYPE html>
<html lang="it">
{% block head %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="author" content="silverania">
  <meta name="keywords" content="{%block keywords%}{%endblock keywords%}">
  <meta name="description" content="{%block description%}{%endblock description%}">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
  <link rel="stylesheet" href="{% static "css/all.css" %}">
  <link rel="stylesheet" href="{% static "css/homepage.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
  <script src="{% static "js/all.min.js"%}"></script>
  <script  src="{% static 'js/popper.min.js'%}"></script>
  <script  src="{% static 'js/jquery.min.js' %}"></script>
  <script  src="{% static 'js/aside.js' %}"></script>
  <script  src="{% static 'js/style.js' %}"></script>
  <script  src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
{% endblock head %}

<body>


<div class="container-fluid" >
<div class="row">
<div role="header" id="col_header" class="col-12"style="margin:0px;width:100%;padding:0px">
{% block header %}
  {% include '_header.html'%}
{% endblock header %}
</div>
</div>
</div>
<div id="c_aside" class="container-fluid" style="margin-bottom:5%;" >
                       <div class="row">
                         <div class="col-3">
        <section role="navigation" id="section_left_navbar">
          <aside>
          <nav>
         <div id="asidebar">
            <span id="asidebar"><i  class="fas fa-angle-right" aria-hidden="true"></i></span>
         </div>

         <div id="d_tutorial_section">

         <div id="form" class="form-group">
    <label id="label_autore" for="labelFormAutori"><span id="span_autore" class="badge badge-warning">Scegli Autore</span></label>
    <select  onclick="remove(this.value);" class="form-control select_autori" id="selecFormAutori">
{% for t in users %}

      <option  id="option_autori_{{t.first_name}}_{{t.last_name}}" value="{{t.first_name}} {{t.last_name}}" class="option_autori">{{t.first_name}} {{t.last_name}} </option>

      {% endfor %}
    </select>
  </div>



    <label id="label_tutorial" for="labelFormTutorials"><span id="span_tutorial" class="badge badge-warning">Visualizza Tutorial</span></label>
    <select multiple class="form-control select_tutorial" onclick="window.open(this.value);" id="selectFormTutorials">

    </select>


</div>
<script>
$(document).ready(function(){
 var a = "{{tutorial.category}}";
 setActiveHeaderMenu(a);
});
</script>

<script>
function remove(e){
  $('.mytutorialByAuthor').remove();
  getIndex(e);
}
function getIndex(e) {
var autore=e;
var tag=document.getElementById('selectFormTutorials');

{% for tut in tutorial_all %}
 toCompare="{{tut.author.first_name}}"+" "+"{{tut.author.last_name}}";
if (autore==toCompare){
  var optio = document.createElement('option');
  title="{{tut.title}}";
  url="{{tut.get_absolute_url}}";
optio.setAttribute("class","mytutorialByAuthor");
optio.value=url;
optio.innerHTML = title;
optio.text=title;

tag.appendChild(optio);
}
{% endfor %}

}
</script>









          <div  id="d_divaside" class="d_divaside">
            <div id="d_in_divaside" class="list-group"  role="tablist">
                {% for c in categorie %}
            <div id="d_{{c.title}}_menu" class="list-group">
              {% for a in c.tutorials.all %}
                <a id="a_tutorial_{{a.title}}" class="list-group-item list-group-item-action" href={{a.get_absolute_url}}>
                  <span id="s_leftmenu1" >{{a.title}}</span>
              </a>
              {% endfor %}
            </div>
            {% endfor %}
            </div>
         </div>
       </nav>
     </aside>
       </section>
       </div>

<div  role="main" class="col-9 col-sm-9 col-md-6 col-lg-6 col-xl-6 " style="margin-left:0px!important;background-color:white;" >
<article>
  <header>
      <div id="d_title" style="position:relative;width:100%;">
           <div id="d_photo_author" style="position:absolute;top:-10%;">
             <div style="width:60px;">
             <img class="img img-fluid rounded-circle border" src='{% block photo %}{% endblock photo %}'
             width="40px" alt="non posso caricare immaggini">
           </div>
           <div  style="width:60px;"><span class="badge badge-pill badge-warning" id="s_nome_autore">mario</span></div>
         </div>
             {% block tut_title %}{% endblock tut_title %} <h6 id="h_title2"> <span style="background-color:purple;display:inline-block;color:white;opacity:0.5;margin-top:30px;">&nbspDi&nbsp</span>
             <span style="color:orange;font-family:ShareTechMono-Regular">{{tutorial.author}}</span>
          <span style="color:grey;opacity:0.5;"> , </span><span style="color:orange;">{{tutorial.publish}}</span></h6>
       </div>
</header>
<div class="d_content">

{% block content %}
  {% endblock content %}

</div>
</article>
</div>


<div id="d_amazon_1" class="mt-5 col-md-3 col-lg-3 col-xl-3" >
  <section id="section_right_aside">
    <aside>
  <div style="width:100%;height:auto;margin-right:0px!important;">
      <span style="position:relative!important;top:-30px;width:100%!important;"class="badge badge-pill badge-warning">Libri</span>
    </div>
  {% block amazon_right %}
      {% endblock %}
    </aside>
      </section>
    </div>

</div>
</div>


  {% block footer %}
<footer>
      <div id="div_main_footer">
                    <div class="div_footer">
                         <img class="img img-fluid rounded-circle border" src='{% block photo_footer %}{%static "/images/mestesso.jpg"%}{% endblock photo_footer%}'
                             width="40px" alt="non posso caricare immaggini">
                           </div>
                           <div class="div_footer_text">
          <p id="p_footer_nome"><span id="footer_span_nome" style="color:grey;">Mario Spanò<em> <span id="footer_span_nome" style="color:grey;">spaceissimo@gmail.com</em></span>
          </p>
            <p style="line-height:1;"class="p_footer"><span></span><span class="copyright-year" style="color:grey;">2020</span><span class="copyright-year">&nbsp;</span><span class="copyright-year">breakingweb.it</span><span>&nbsp;</span><span class="copyright-year">All Rights Reserved.</span></p>
        </div>


</div>
</footer>
  {% endblock footer %}

</body>
</html>
