

    {%block header%}
    <div class="container-fluid">
    <nav  class="navbar navbar-icon-top navbar-expand-lg">
      <a class="navbar-brand mt-2" href="{% url 'homepage:tutorial_list' %}"><h3><i style="color:orange;"class="fas fa-circle"></i><b>
        <span  id="span_title" style="margin-left:-2%;font-weight:bold;color:black;">...Linux</span><span id="span_title_web" style="color:orange;">
          <span  id="span_title_w" style="color:orange;margin-left:-3%;">$In</span>#Pratica</span></b></h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:whitesmoke;"></i></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:white;">

        <ul  class="navbar-nav nav-pills" style="margin:0 auto" >
          <li class="nav-item">
            <a id="a-film" class="i-search nav-link active" href="{% url 'homepage:tutorial_list' %}" aria-pressed="true">
              <span id="nav_span_menu"><b><span style="color:white!important;">Django</span></b></span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li id="topnav" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Django</a>
            </div>
          </li>
        </ul>
        <ul  class="navbar-nav ">
          {%if login%}
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">
              <span><b>Esci</b></span>
            </a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="/user/register">
              <span><b>Registrati</b></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/login">
              <span><b>Entra</b></span>
            </a>
          </li>
          {%endif%}
        </ul>
      </div>

    </nav>
    </div>
    {%endblock header%}
