{% extends 'base2.html' %}
{% load static %}
{% block title %}Convertire Testo Su Debian/Ubuntu con Calibre{% endblock title %}
  {% block keywords %}calibre,gestore,ebook,convertitore,azw3,modi,docx,fb2,htmlz,lit,pdb,pdf,pmlz,rb,rtf,snb,tcr,txt,txtz,zip,lrf,biblioteca,elettronica,linux,uso,su debian,convertire,testo,formati,diversi,pdf,epub,installazione,installare,

  Plucker{% endblock keywords %}
  {% block description %}Linux - Conversione File Testuali e Installazione Di Calibre{% endblock description%}
     {% block photo %}{%static "/images/mestesso.jpg"%}{% endblock photo %}
     {% block tut_title %}
       <span class="badge badge-pill badge-light" style="width:100%;display:inline-block!important;margin:0 auto!important;">
         <span id="s_title">Linux - </span>
       <span id="s_title_2" style="display:inline-block;color:black;font-weight:bold;">Convertire Testi Con Calibre</span></span>{% endblock tut_title %}

{% block content %}
<p id="p_content">
 vediamo come convertire i più disparati file testuali in vari formati . A questo scopo , e più precisamente useremo <span style="color:orange">Calibre</span> ,
 uno dei software più potenti <span style="text-align:justify">el pianeta Open Source per la</span> gestione di ebooks .
Calibre gestisce la raccolta di libri elettronici dell'utente. È progettato intorno
al concetto del libro logico, cioè una sola voce nel database che può
corrispondere ai libri elettronici in molti formati. Gestisce anche la
conversione da e verso una dozzina di differenti formati per libri elettronici.
L' <span style="color:orange">installazione su Debian Linux</span> si fa nel modo consueto :</p>
<p style="background-color:white;width:98%;margin:0 auto;"><code>apt update<br>apt install calibre</code></p><br><br>

  <p>
<a  href="{%static "/images/calibre.jpg"%}">Schermata all' apertura :<img src='{%static "/images/calibre.jpg"%}'   width="100%" height="100%" alt="non posso visualizzare l 'interfaccia di calibre"></a>
<br><br>
</p>
<p id="p_content" style="margin-top:3%;margin-bottom:3%;">
Per convertire un file di testo da un formato ad un altro, è sufficiente selezionare un libro nella lista centrale e
cliccare sull' icona converti . Si apre questa finestra :

<a href='{%static "/images/calibre_converti.jpg"%}'><br><br>finestra di conversione<br><img src='{%static "/images/calibre_converti.jpg"%}'   width="100%" height="100%" alt="non posso visualizzare la schermata di conversione file di calibre"></a>
</p>
<p id="p_content" style="margin-top:3%;margin-bottom:3%;">
  <b>in alto a sinistra</b> dell' immagine qui sopra si puo leggere il formato del libro selezionato , che è : "epub" , <b>in alto a destra selezionare il formato</b> in cui si desidera convertire
  l' ebook , il numero di formati fra cui scegliere è molto vasto , più di una decina ,  <b>cliccare su ok</b> per avviare la conversione .
  </p>
  {% endblock content %}
  {% block amazon_right %}

  <div style="width:100%;">
<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=1326160842&linkId=7801875206462716ded86930aa26cbe5"></iframe>
  <iframe style="width:120px;height:240px;margin-left:20px;"" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B075NWD4J1&linkId=d04c2e3d0c0a11e33e21aa2a82d3a531"></iframe>





<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B077DFV5J3&linkId=0ecb60022e16aa044ba34071b889c42e"></iframe>

<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=1789611806&linkId=f6c0e73abb7b1f2b1f113a438d2578c1"></iframe>
<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07ZP8FH9M&linkId=cd6f4f0f4b685c61a32f4a929c953a58"></iframe>

<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=0244403716&linkId=3ce8e01d49e76f7bd81c68a793ab5577"></iframe>

<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=0244403716&linkId=3ce8e01d49e76f7bd81c68a793ab5577"></iframe>
<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=8871924045&linkId=ac0f92f1c13af01d9a23afa698eea2c3"></iframe>

<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=1520569912&linkId=bd71f95b1d566217c4d7190b3a067ba8"></iframe>

<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=0244403716&linkId=3ce8e01d49e76f7bd81c68a793ab5577"></iframe>
<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=0244403716&linkId=3ce8e01d49e76f7bd81c68a793ab5577"></iframe>
<iframe style="width:120px;height:240px;margin-left:20px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=marios01-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=0244403716&linkId=3ce8e01d49e76f7bd81c68a793ab5577"></iframe>

</div>












{% endblock %}
